@import 'leaflet/dist/leaflet.css';
@import 'leaflet.markercluster/dist/MarkerCluster.css';
@import 'leaflet.markercluster/dist/MarkerCluster.Default.css';

.leaflet-popup-content {
  margin: 0;
  line-height: initial;
}

.leaflet-popup-content-wrapper {
  background: none;
  color: initial;
  box-shadow: none;
}

.leaflet-popup-tip-container {
  display: none;
}
